@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header h1{
  padding: 5px 0 10px 0;
}
.headContainer{
  margin: 10px 20px 0 20px;
}
.center{
  text-align: center;
}
.container-fluid .col-md-2{
  /* border-right: 1px solid #ddd; */
  display: block;
  padding-left: 12px;
  padding-right: 12px;
}
.radioMode{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
.radioMode span{
  padding-left: 5px;
}
.radioMode .modeLeft, .radioMode .modeRight{
  display: inline-block;
}
.codeContainer{
  border: 1px solid #ddd;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-md-2 button{
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}
.container-fluid .col-md-10{
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.col-md-10 ul{
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.groupContent{
  display: inline-block;
}
.hoverZoom{
  transition: transform .2s;
}
.hoverZoom:hover{
  transform: scale(1.5);
}
.bp-margin-top {
	margin-top: 16px !important
}
.bp-center {
	text-align: center !important
}